### Exercici 1
#### Descarrega el dataset adjunt preu lloguer per trimestre i barri.csv extret de la web OpenDataBCN i resumeix-lo estadísticament i gràficament.

#### Crea almenys una visualització per:

#### Una variable categòrica (Districte o Barri)
#### Una variable numèrica (Preu)
#### Una variable numèrica i una categòrica (Districte i Preu)
#### Dues variables numèriques (Any o Trimestre i Preu)
#### Tres variables (Barri o Districte, Trimestre i Preu)

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline


plt.style.use('default')
plt.rcParams['figure.figsize'] = (15, 5)

df = pd.read_csv('preu lloguer per trimestre i barri.csv') #importo l'arxiu cs

In [4]:
df

,Any,Trimestre,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Lloguer_mitja,Preu
0,2021,1,1,Ciutat Vella,1,el Raval,Lloguer mitjà mensual (Euros/mes),759.2
1,2021,1,1,Ciutat Vella,2,el Barri Gòtic,Lloguer mitjà mensual (Euros/mes),929.6
2,2021,1,1,Ciutat Vella,3,la Barceloneta,Lloguer mitjà mensual (Euros/mes),808.9
3,2021,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Lloguer mitjà mensual (Euros/mes),879.4
4,2021,1,2,Eixample,5,el Fort Pienc,Lloguer mitjà mensual (Euros/mes),918.0
...,...,...,...,...,...,...,...,...
579,2021,4,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Lloguer mitjà per superfície (Euros/m2 mes),15.2
580,2021,4,10,Sant Martí,70,el Besòs i el Maresme,Lloguer mitjà per superfície (Euros/m2 mes),10.8
581,2021,4,10,Sant Martí,71,Provençals del Poblenou,Lloguer mitjà per superfície (Euros/m2 mes),13.8
582,2021,4,10,Sant Martí,72,Sant Martí de Provençals,Lloguer mitjà per superfície (Euros/m2 mes),11.7
583,2021,4,10,Sant Martí,73,la Verneda i la Pau,Lloguer mitjà per superfície (Euros/m2 mes),11.3

##### Aquest es el df de la base de dades "Preu lloguer per trimestre i barris". Aquesta BD guarda el preu de lloguer per cada barri de Barcelona durant els quatre trimestres de l'any 2021. Cada barri, a la vegada, està associat amb el seu districte. Un districte pot tindre molts barris, mentres que un barri només pot tenir un districte associat. Cada barri te un codi únic igual que cada districte té un codi únic. 
##### Abans que res elimino la columna de l'any que és intrascendent.

In [7]:
df.drop("Any",axis=1,inplace=True)

In [8]:
df.head(5)

,Trimestre,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Lloguer_mitja,Preu
0,1,1,Ciutat Vella,1,el Raval,Lloguer mitjà mensual (Euros/mes),759.2
1,1,1,Ciutat Vella,2,el Barri Gòtic,Lloguer mitjà mensual (Euros/mes),929.6
2,1,1,Ciutat Vella,3,la Barceloneta,Lloguer mitjà mensual (Euros/mes),808.9
3,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Lloguer mitjà mensual (Euros/mes),879.4
4,1,2,Eixample,5,el Fort Pienc,Lloguer mitjà mensual (Euros/mes),918.0

##### Ara vull veure el format de cada columna. La columna preu és un object, el vull canviar a float.

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 584 entries, 0 to 583
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Trimestre       584 non-null    int64
 1   Codi_Districte  584 non-null    int64
 2   Nom_Districte   584 non-null    object
 3   Codi_Barri      584 non-null    int64
 4   Nom_Barri       584 non-null    object
 5   Lloguer_mitja   584 non-null    object
 6   Preu            584 non-null    object
dtypes: int64(3), object(4)
memory usage: 32.1+ KB

In [15]:
df["Preu"] = pd.to_numeric(df["Preu"], errors="coerce")
df.dtypes

Trimestre           int64
Codi_Districte      int64
Nom_Districte      object
Codi_Barri          int64
Nom_Barri          object
Lloguer_mitja      object
Preu              float64
dtype: object

##### Tot seguit visualitzo quants números NaN hi han per cada columna. Sembla que la columna Preu és la més problemàtica.

In [16]:
df.isnull().sum()

Trimestre          0
Codi_Districte     0
Nom_Districte      0
Codi_Barri         0
Nom_Barri          0
Lloguer_mitja      0
Preu              44
dtype: int64

In [20]:
df[df["Preu"].isnull()]

,Trimestre,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Lloguer_mitja,Preu
11,1,3,Sants-Montjuïc,12,la Marina del Prat Vermell,Lloguer mitjà mensual (Euros/mes),NaN
41,1,7,Horta-Guinardó,42,la Clota,Lloguer mitjà mensual (Euros/mes),NaN
46,1,8,Nou Barris,47,Can Peguera,Lloguer mitjà mensual (Euros/mes),NaN
53,1,8,Nou Barris,54,Torre Baró,Lloguer mitjà mensual (Euros/mes),NaN
55,1,8,Nou Barris,56,Vallbona,Lloguer mitjà mensual (Euros/mes),NaN
57,1,9,Sant Andreu,58,Baró de Viver,Lloguer mitjà mensual (Euros/mes),NaN
84,1,3,Sants-Montjuïc,12,la Marina del Prat Vermell,Lloguer mitjà per superfície (Euros/m2 mes),NaN
114,1,7,Horta-Guinardó,42,la Clota,Lloguer mitjà per superfície (Euros/m2 mes),NaN
119,1,8,Nou Barris,47,Can Peguera,Lloguer mitjà per superfície (Euros/m2 mes),NaN
126,1,8,Nou Barris,54,Torre Baró,Lloguer mitjà per superfície (Euros/m2 mes),NaN
128,1,8,Nou Barris,56,Vallbona,Lloguer mitjà per superfície (Euros/m2 mes),NaN
130,1,9,Sant Andreu,58,Baró de Viver,Lloguer mitjà per superfície (Euros/m2 mes),NaN
157,2,3,Sants-Montjuïc,12,la Marina del Prat Vermell,Lloguer mitjà mensual (Euros/mes),NaN
187,2,7,Horta-Guinardó,42,la Clota,Lloguer mitjà mensual (Euros/mes),NaN
192,2,8,Nou Barris,47,Can Peguera,Lloguer mitjà mensual (Euros/mes),NaN
199,2,8,Nou Barris,54,Torre Baró,Lloguer mitjà mensual (Euros/mes),NaN
201,2,8,Nou Barris,56,Vallbona,Lloguer mitjà mensual (Euros/mes),NaN
230,2,3,Sants-Montjuïc,12,la Marina del Prat Vermell,Lloguer mitjà per superfície (Euros/m2 mes),NaN
260,2,7,Horta-Guinardó,42,la Clota,Lloguer mitjà per superfície (Euros/m2 mes),NaN
265,2,8,Nou Barris,47,Can Peguera,Lloguer mitjà per superfície (Euros/m2 mes),NaN
272,2,8,Nou Barris,54,Torre Baró,Lloguer mitjà per superfície (Euros/m2 mes),NaN
274,2,8,Nou Barris,56,Vallbona,Lloguer mitjà per superfície (Euros/m2 mes),NaN
303,3,3,Sants-Montjuïc,12,la Marina del Prat Vermell,Lloguer mitjà mensual (Euros/mes),NaN
333,3,7,Horta-Guinardó,42,la Clota,Lloguer mitjà mensual (Euros/mes),NaN
338,3,8,Nou Barris,47,Can Peguera,Lloguer mitjà mensual (Euros/mes),NaN
345,3,8,Nou Barris,54,Torre Baró,Lloguer mitjà mensual (Euros/mes),NaN
347,3,8,Nou Barris,56,Vallbona,Lloguer mitjà mensual (Euros/mes),NaN
349,3,9,Sant Andreu,58,Baró de Viver,Lloguer mitjà mensual (Euros/mes),NaN
376,3,3,Sants-Montjuïc,12,la Marina del Prat Vermell,Lloguer mitjà per superfície (Euros/m2 mes),NaN
406,3,7,Horta-Guinardó,42,la Clota,Lloguer mitjà per superfície (Euros/m2 mes),NaN
411,3,8,Nou Barris,47,Can Peguera,Lloguer mitjà per superfície (Euros/m2 mes),NaN
418,3,8,Nou Barris,54,Torre Baró,Lloguer mitjà per superfície (Euros/m2 mes),NaN
420,3,8,Nou Barris,56,Vallbona,Lloguer mitjà per superfície (Euros/m2 mes),NaN
422,3,9,Sant Andreu,58,Baró de Viver,Lloguer mitjà per superfície (Euros/m2 mes),NaN
449,4,3,Sants-Montjuïc,12,la Marina del Prat Vermell,Lloguer mitjà mensual (Euros/mes),NaN
479,4,7,Horta-Guinardó,42,la Clota,Lloguer mitjà mensual (Euros/mes),NaN
484,4,8,Nou Barris,47,Can Peguera,Lloguer mitjà mensual (Euros/mes),NaN
491,4,8,Nou Barris,54,Torre Baró,Lloguer mitjà mensual (Euros/mes),NaN
493,4,8,Nou Barris,56,Vallbona,Lloguer mitjà mensual (Euros/mes),NaN
522,4,3,Sants-Montjuïc,12,la Marina del Prat Vermell,Lloguer mitjà per superfície (Euros/m2 mes),NaN
552,4,7,Horta-Guinardó,42,la Clota,Lloguer mitjà per superfície (Euros/m2 mes),NaN
557,4,8,Nou Barris,47,Can Peguera,Lloguer mitjà per superfície (Euros/m2 mes),NaN
564,4,8,Nou Barris,54,Torre Baró,Lloguer mitjà per superfície (Euros/m2 mes),NaN
566,4,8,Nou Barris,56,Vallbona,Lloguer mitjà per superfície (Euros/m2 mes),NaN

##### No m'interesen els valors NaN per tant, faré una mitjana del barri i aquesta serà assignada al valor NaN. Però, abans d'això farè un canvi més al df ja que em poden sortir mitjanes erronies.

##### El següent pas és dividir el df en 2. Si s'observa amb atenció el df complert, es pot veure com en la columna preu hi han dos tipus de dades, el preu del lloguer mensula mitjà i el preu mitjà per m2 mensual. Amb la funció .unique() es veu millor:

In [23]:
df["Lloguer_mitja"].unique()

array(['Lloguer mitjà mensual (Euros/mes)',
       'Lloguer mitjà per superfície (Euros/m2 mes)'], dtype=object)

In [29]:
#Creo dos df nous a partir del df.
llog_m = df.loc[df["Lloguer_mitja"] == "Lloguer mitjà mensual (Euros/mes)"]
llog_m_mes = df.loc[df["Lloguer_mitja"] == "Lloguer mitjà per superfície (Euros/m2 mes)"]